body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
img {
  display: block;
}
/* header */
.hero-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container{
  display: flex;
}
.container {
  width: 1158px; 
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.header-nav {
  display:flex;
  align-items: center; 
  color: #4d5ae5;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.links {
  display: flex;
}
.menu-item {
  margin-right: 40px;
}
.menu-item-last {
  margin-right: 0;
}
.logo-text {
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.header-link {
  font-style: normal;
}


.header-list-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-list-item-link:hover,
.header-list-item-link:focus {
  color: #404bbf;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* section-1 */
.logo-title-one {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* section-2 */
.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section-3 */
.logo-title {
  background-color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-item {
  background-color: #ffffff;
}

/* footer */
.footer {
  background-color: #2e2f42;
}
.logo-text-footer {
  color: #f4f4fd;
}
.footer-description {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
